
body
{
    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: 400;

    position: relative;

    color: #000;
}
a
{
    font-size: 17px;

    text-decoration: none;

    color: #000;
}
.clearfix::after
{
    display: table;
    clear: both;

    content: '';
}
.container
{
    width: 940px;
    max-width: 1200px;
    margin: 0 auto;
}
.btn
{
    font-size: 14px;
    line-height: 18px;

    display: inline-block;

    padding-top: 13px;
    padding-bottom: 11px;

    text-align: center;
    vertical-align: top;
    text-transform: uppercase;

    color: #fff;
    border-radius: 5px;
    background-color: #ee3643;
}
.header-block .btn-hidden
{
    display: none;
}
.btn:hover
{
    background-color: #ca2c37;
}
.btn:active
{
    background-color: #ba2732;
}
@keyframes bounce
{
    0%
    {
        transform: translateY(-2000px);
    }
    70%
    {
        transform: translateY(30px);
    }
    90%
    {
        transform: translateY(0);
    }
}
/*======================header=====================*/
.header-top .container
{
    font-size: 0;
}
.main-header
{
    min-width: 960px;
    margin-bottom: 60px;
    padding-bottom: 60px;

    background-color: #f1f5f7;
}
.header-top
{
    font-size: 0;

    height: 42px;
    margin-bottom: 47px;

    background-color: #293449;
}
.header-top a
{
    color: #fff;
}
.header-logo
{
    font-size: 24px;
    line-height: 24px;

    display: inline-block;

    box-sizing: border-box;
    width: 220px;
    height: 47px;
    padding-top: 12px;

    text-align: center;
    vertical-align: top;
    text-transform: uppercase;

    border-top: 1px solid #e03643;
    border-bottom: 5px solid #b52933;
    background-color: #ee3643;
}
.header-logo:hover
{
    background-color: #ca2c37;
}
.header-logo:active
{
    background-color: #ba2732;
}
.header-search
{
    font-size: 17px;

    position: relative;

    display: inline-block;

    box-sizing: border-box;
    width: 270px;

    vertical-align: top;

    color: #fff;
}
.header-search input
{
    display: inline-block;

    box-sizing: border-box;
    width: 270px;
    height: 42px;
    padding: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 49px;

    vertical-align: top;

    border: none;
    outline: none;
    background-color: #293449;
}
.header-search input::-webkit-input-placeholder
{
    opacity: 1;
    color: #fff;
}
.header-search input::-moz-placeholder
{
    opacity: 1;
    color: #fff;
}
.header-search input:-ms-input-placeholder
{
    opacity: 1;
    color: #fff;
}
.header-search input:focus::-webkit-input-placeholder
{
    opacity: 1;
    color: #000;
}
.header-search input:focus::-moz-placeholder
{
    opacity: 1;
    color: #000;
}
.header-search input:focus:-ms-input-placeholder
{
    opacity: 1;
    color: #000;
}
.header-search span
{
    position: absolute;
    top: 13px;
    left: 17px;

    background-color: #000;
    /*background: url("../img/sprite-search.png") no-repeat;
	background-position: -5px -5px;*/
}
.header-search input:hover
{
    background-color: #212a3a;
}
.header-search input:focus
{
    padding-bottom: 11px;

    color: #000;
    background-color: #fff;
}
.header-search::before
{
    position: absolute;
    top: 12px;
    left: 17px;

    width: 17px;
    height: 17px;

    content: '';

    background: url('../img/sprite-main.png') no-repeat;
    background-position: -1998px -10px;
}
.header-search:hover::before
{
    cursor: pointer;

    background: url('../img/sprite-main.png') no-repeat;
    background-position: -1998px -37px;
}
.header-search input:focus ~ span
{
    width: 17px;
    height: 17px;

    background: url('../img/sprite-main.png') no-repeat;
    background-position: -1998px -64px;
}
.header-bookmarks
{
    line-height: 18px;

    position: relative;

    display: inline-block;

    box-sizing: border-box;
    width: 150px;
    height: 42px;
    padding-top: 11px;
    padding-bottom: 12px;
    padding-left: 44px;

    vertical-align: top;
}
.header-bookmarks::before
{
    position: absolute;
    top: 12px;
    left: 15px;

    width: 17px;
    height: 17px;

    content: '';

    background: url('../img/sprite-main.png') no-repeat;
    background-position: -1763px -5px;
}
.header-bookmarks:hover
{
    background-color: #212a3a;
}
.header-bookmarks:hover::before
{
    background: url('../img/sprite-main.png') no-repeat;
}
.header-bookmarks:hover::before
{
    background-position: -1763px -77px;
}
.header-bookmarks:active
{
    background-color: #161d29;
}
.header-bookmarks:active::before
{
    background-position: -1763px -149px;
}
.header-basket
{
    line-height: 18px;

    position: relative;

    display: inline-block;

    box-sizing: border-box;
    width: 150px;
    height: 42px;
    padding-top: 11px;
    padding-bottom: 12px;
    padding-left: 44px;

    vertical-align: top;
}
.header-basket-full
{
    background-color: #ee3643;
}
.header-basket::before
{
    position: absolute;
    top: 12px;
    left: 12px;

    width: 17px;
    height: 16px;

    content: '';

    background: url('../img/sprite-main.png') no-repeat;
    background-position: -1736px -5px;
}
.header-basket:hover
{
    background-color: #212a3a;
}
.header-basket:hover::before
{
    background: url('../img/sprite-main.png') no-repeat;
    background-position: -1736px -77px;
}
.header-basket:active
{
    background-color: #161d29;
}
.header-basket:active::before
{
    background: url('../img/sprite-main.png') no-repeat;
    background-position: -1736px -149px;
}
.header-purchase
{
    font-size: 17px;
    line-height: 18px;

    display: inline-block;

    box-sizing: border-box;
    width: 150px;
    height: 42px;
    padding-top: 11px;
    padding-right: 22px;
    padding-bottom: 13px;
    padding-left: 20px;

    vertical-align: top;

    background-color: #63a63e;
}
.header-purchase:hover
{
    background-color: #5fbb2d;
}
.header-purchase:active
{
    background-color: #518534;
}
.header-block,
.offer-item,
.slider
{
    float: left;
}

/*HEADER-MIDDLE*/

.header-middle
{
    font-size: 0;

    box-sizing: border-box;
    max-height: 278px;
    margin-bottom: 42px;
    padding: 0;
}
.header-block
{
    box-sizing: border-box;
    width: 300px;
    margin-right: 20px;

    color: #32425c;
}
.header-block:last-child
{
    margin-right: 0;
}
.header-block p
{
    margin: 0;
    padding: 0;
}
.header-block .header-title
{
    font-family: 'Cuprum', Tahoma, sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;

    display: block;

    padding: 0 50px;

    color: #ee3643;
}
.header-phone
{
    font-size: 21px;
    line-height: 18px;

    position: relative;

    box-sizing: border-box;
    width: 270px;
    margin-top: 2px;
    margin-bottom: 9px;
    padding-top: 10px;
    padding-right: 46px;
    padding-bottom: 11px;
    padding-left: 70px;

    color: #e9292a;
    border: 3px solid #fff;
}
.header-phone::before
{
    position: absolute;
    top: 5px;
    left: 7px;

    width: 29px;
    height: 29px;

    content: '';

    background: url('../img/sprite-main.png') no-repeat;
    background-position: -530px 0;
}
.header-address
{
    font-size: 14px;

    box-sizing: border-box;
    width: 270px;

    text-align: center;
    vertical-align: top;

    color: #32425c;
}
.header-user
{
    font-size: 0;

    text-align: right;
}
.header-user a
{
    color: #000;
}
.header-block:nth-child(3)
{
    margin-right: 0;
}
.header-user-personal
{
    margin-top: 8px;
    padding: 0;

    text-align: left;
}
.header-user-personal li
{
    display: inline-block;

    vertical-align: top;
}
.personal-orders
{
    position: relative;

    margin-right: 8px;
    margin-left: 17px;
    padding-right: 20px;
}
.personal-orders::before
{
    position: absolute;
    top: 50%;
    right: 3px;

    margin-top: -2px;

    content: '';

    border: 2px solid #32425c;
    border-radius: 50%;
}
.header-user-personal a
{
    font-size: 16px;

    text-decoration: underline;

    color: #32425c;
}
.header-user-personal a:hover
{
    color: #ee3643;
}
.header-user-personal a:active
{
    opacity: .5;
    color: #32425c;
}
.btn-login
{
    font-size: 21px;
    line-height: 18px;

    position: relative;

    display: inline-block;

    box-sizing: border-box;
    width: 120px;
    max-height: 45px;
    padding-top: 14px;
    padding-right: 27px;
    padding-bottom: 15px;
    padding-left: 48px;

    vertical-align: top;

    background-color: #fff;
}
.btn-login:hover
{
    color: #ee3643;
}
.btn-login:active
{
    color: #b2b2b2;
}
.btn-login::before
{
    position: absolute;
    top: 14px;
    left: 15px;

    width: 20px;
    height: 20px;

    content: '';

    background: url('../img/sprite-main.png') no-repeat;
    background-position: -1824px -5px;
}
.btn-login:hover::before
{
    background-position: -1824px -66px;
}
.btn-login:active::before
{
    background-position: -1824px -5px;
}
/*=================logged-in==================*/
.btn-logged-in
{
    font-size: 21px;
    line-height: 18px;

    position: relative;

    display: block;
    overflow: hidden;

    box-sizing: border-box;
    min-width: 120px;
    max-height: 45px;
    padding-top: 14px;
    padding-right: 68px;
    padding-bottom: 15px;
    padding-left: 46px;

    white-space: nowrap;

    background-color: #fff;
}
.btn-logged-in:hover
{
    color: #ee3643;
}
.btn-logged-in:active
{
    color: #b2b2b2;
}
.btn-logged-in::before
{
    position: absolute;
    top: 13px;
    left: 15px;

    width: 20px;
    height: 20px;

    content: '';

    background: url('../img/sprite-main.png') no-repeat;
    background-position: -2030px -5px;
}
.btn-logged-in:hover::before
{
    background-position: -2030px -97px;
}
.btn-logged-in:active::before
{
    background-position: -2030px -189px;
}
.btn-logged-in::after
{
    position: absolute;
    top: 14px;
    right: 15px;

    width: 20px;
    height: 20px;

    content: '';

    background: url('../img/sprite-main.png') no-repeat;
    background-position: -1824px -5px;
}
.btn-logged-in:hover::after
{
    background-position: -1824px -66px;
}
.btn-logged-in:active::after
{
    background-position: -1824px -5px;
}
.btn-reg
{
    font-size: 21px;
    line-height: 18px;

    display: inline-block;

    box-sizing: border-box;
    width: 150px;
    max-height: 45px;
    margin-left: 10px;
    padding-top: 14px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-left: 25px;

    vertical-align: top;

    background-color: #fff;
}
.btn-reg:hover
{
    color: #ee3643;
}
.btn-reg:active
{
    color: #b2b2b2;
}
/*HEADER-BOTTOM*/

.header-bottom
{
    font-size: 0;

    background-color: #32425c;
}

.header-menu
{
    box-sizing: border-box;
    width: 940px;
    max-height: 56px;
    padding-left: 26px;

    text-align: justify;

    border-bottom: 5px solid #293449;
}
.header-bottom li
{
    display: inline-block;

    vertical-align: top;
}
.header-bottom a
{
    font-size: 17px;
    line-height: 17px;

    display: block;

    box-sizing: border-box;
    padding: 19px 30px;
    padding-bottom: 16px;

    color: #fff;
}
.header-bottom a:hover
{
    z-index: 5;

    padding-bottom: 16px;

    border-bottom: 4px solid #293449;
    background-color: #293449;
}
.header-bottom a:active
{
    z-index: 5;

    padding-bottom: 16px;

    border-bottom: 4px solid #1d2739;
    background-color: #1d2739;
}
.header-bottom a:active
{
    color: #8e939c;
    background-color: #1d2739;
}
.menu-item-top
{
    text-align: center;
}

/*===============offer====================*/

.offer
{
    margin-bottom: 33px;
}
.offer h3
{
    font-family: 'Cuprum', Tahoma, sans-serif;
    font-size: 24px;
    font-weight: bold;

    margin-top: 20px;
    margin-bottom: 15px;

    color: #fff;
}
.offer-item
{
    position: relative;

    overflow: hidden;

    box-sizing: border-box;
    width: 300px;
    height: 123px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 25px;
}
.offer-new::after
{
    font-family: 'PT Sans Narrow', Tahoma, sans-serif;
    font-size: 16px;

    position: absolute;
    top: 6px;
    right: -31px;

    padding: 6px 40px;

    content: 'new';
    transform: rotate(45deg);

    color: #fff;
    background-color: #ee3643;
}
.offer-item-type
{
    font-family: 'Cuprum', Tahoma, sans-serif;
    font-weight: bold;
    line-height: 30px;

    margin-top: 25px;
}
.offer-item-info
{
    font-size: 14px;
    line-height: 18px;

    position: relative;

    display: inline-block;

    width: 135px;
    margin: 0;
    padding: 10px 0;

    text-align: center;
    vertical-align: top;
    text-transform: uppercase;

    color: #fff;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .1);
}
.offer-item-info:hover
{
    background-color: rgba(0, 0, 0, .2);
}
.offer-item-info:active
{
    background-color: rgba(0, 0, 0, .3);
}
.offer-material
{
    background: #f6b22d url('../img/ico-material.png') 212px center no-repeat;
}
.offer-tool
{
    background: #4aafde url('../img/ico-tool.png') 195px center no-repeat;
}
.offer-machinery
{
    background: #cc79d1 url('../img/ico-machinery.png') 189px center no-repeat;
}
.offer-discount
{
    background: #85d179 url('../img/ico-discount.png') 194px center no-repeat;
}
.offer-delivery
{
    background: #f6b22d url('../img/ico-delivery.png') 188px center no-repeat;
}
.offer-item:nth-child(3),
.offer-item:last-child
{
    margin-right: 0;
}

/*SLIDER*/
.slider
{
    position: relative;

    width: 620px;
    height: 266px;

    background: #aaa;
}
.slider-left
{
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 25px;

    width: 22px;
    height: 40px;
    margin-top: -20px;

    cursor: pointer;

    background: url('../img/sprite-main.png') -1672px -5px no-repeat;
}
.slider-right
{
    position: absolute;
    z-index: 1000;
    top: 50%;
    right: 25px;

    width: 22px;
    height: 40px;
    margin-top: -20px;

    cursor: pointer;

    background: url('../img/sprite-main.png') -1704px -5px no-repeat;
}
.slider input[type=radio]
{
    opacity: 0;
}
.slider-controls
{
    position: absolute;
    z-index: 1000;
    bottom: 35px;
    left: 50%;

    width: 200px;
    height: 17px;
    margin-left: -100px;

    text-align: center;
}
.slider-controls label
{
    display: inline-block;

    width: 6px;
    height: 6px;
    margin: 0 3px;

    cursor: pointer;
    vertical-align: top;

    border: 2px solid #fff;
    border-radius: 50%;
    background: #fff;
}
#btn1:checked ~ .slider-controls label[for='btn1'],
#btn2:checked ~ .slider-controls label[for='btn2']
{
    transition: .6s;

    background: #ee3643;
}
#btn2:checked ~ .slides .slide:nth-child(2)
{
    display: block;
}
.slide
{
    position: absolute;
    top: 0;
    left: 0;

    display: none;
    overflow: hidden;

    width: 100%;
    height: 100%;
    margin: 0;
}
.slide img
{
    position: absolute;
    top: 0;
    left: 0;
}
.slide:nth-child(1)
{
    display: block;

    background-size: cover;
}
.slide:nth-child(2)
{
    display: none;

    background-size: cover;
}
.slide-text
{
    position: absolute;

    overflow: hidden;

    max-width: 400px;
    max-height: 100px;
}
.slider-title
{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 30px;

    margin: 0;
    margin-top: 27px;
    margin-left: 26px;
    padding: 0;

    text-transform: uppercase;

    color: #fff;
}
.slide p
{
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 18px;
    line-height: 1.3;

    margin: 0;
    margin-left: 26px;
    padding: 0;

    color: #fff;
}
.slider
{
    margin-right: 20px;
}
.btn-slider
{
    position: absolute;
    z-index: 2;
    bottom: 25px;
    left: 25px;

    width: 195px;
    margin-top: 125px;

    background-color: #ee3643;
}

.offer-discount
{
    margin-right: 0;
}

/*=============popular================*/

.popular
{
    font-size: 0;

    position: relative;

    box-sizing: border-box;
    max-height: 200px;
    margin-bottom: 20px;
    padding-top: 33px;
		padding-bottom: 33px;

    background-color: #f7f3ec;
}
.popular h2
{
    font-family: 'Cuprum', Tahoma, sans-serif;
    font-size: 30px;
    line-height: 30px;

    max-width: 610px;
    max-height: 100px;
    margin: 0;
    margin-left: 30px;
    padding: 0;

    text-transform: uppercase;

    color: #32425c;
}
.btn-popular
{
    position: absolute;
    top: 50%;
    right: 24px;

    float: right;

    box-sizing: border-box;
    width: 253px;
    margin-top: -19px;
}

.invisible
{
    opacity: 0;
}
/*=================popular-catalog==================*/

.popular-catalog
{
    /*margin-bottom: 21px;*/
}
.item
{
    font-size: 0;

    position: relative;

    display: block;
    float: left;
    overflow: hidden;

    box-sizing: border-box;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;

    text-align: center;

    border: 1px solid #e5e5e5;
}

.item:nth-child(4)
{
    float: right;

    margin-right: 0;
}
.item-catalog
{
    font-size: 0;

    position: relative;

    display: block;
    float: left;
    overflow: hidden;

    box-sizing: border-box;
    width: 220px;
    /*height: 318px;*/
    margin-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;

    text-align: center;

    border: 1px solid #e5e5e5;
}
.item-catalog:nth-child(3n)
{
    margin-right: 0;
}
.item-catalog:hover
{
    box-shadow: 0 10px 55px -10px #293449;
}
.item:hover
{
    box-shadow: 0 10px 55px -10px #293449;
}
.item-buy
{
    position: absolute;
    top: 0;
    left: 0;

    width: 218px;
    height: 165px;

    opacity: 0;
    background-color: #fff;
}
.item-buy:hover
{
    opacity: 1;
}
.btn-buy
{
    position: relative;

    display: inline-block;

    width: 135px;
    margin-top: 30px;
    margin-bottom: 7px;
    padding-top: 12px;
    padding-bottom: 7px;

    vertical-align: top;

    border-bottom: 3px solid #367315;
    border-radius: 3px;
    background-color: #63a63e;
}
.btn-buy::before
{
    position: absolute;
    top: 11px;
    left: 18px;

    width: 17px;
    height: 16px;

    content: '';

    background: url('../img/sprite-main.png') no-repeat;
    background-position: -1736px -5px;
}
.btn-buy:hover
{
    background-color: #5fbb2d;
}
.btn-buy:hover::before
{
    background-position: -1736px -77px;
}
.btn-buy:active
{
    height: 21px;

    border: none;
    background-color: #518534;
}
.btn-bookmarks
{
    display: inline-block;

    width: 131px;
    padding-top: 11px;
    padding-bottom: 8px;

    vertical-align: top;

    color: #32425c;
    border: 3px solid #63a63e;
    border-radius: 3px;
    background-color: #fff;
}
.btn-bookmarks:hover
{
    border-color: #32425c;
    background-color: #fff;
}
.btn-bookmarks:active
{
    color: #c1c6ce;
    border-color: #c1c6ce;
}
.item-name
{
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;

    display: inline-block;
    overflow: hidden;

    max-width: 166px;
    margin: 0 auto;
    margin-top: 27px;

    vertical-align: top;
}
.old-price
{
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;

    margin-top: 11px;
    margin-bottom: 10px;

    text-decoration: line-through;

    color: #999;
}
.btn-price
{
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;

    position: relative;
    left: -6px;

    display: inline-block;

    box-sizing: border-box;
    width: 123px;
    margin: 0;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 35px;

    text-align: center;
    text-align: left;
    vertical-align: top;

    color: #fff;
    border-radius: 5px;
    border-radius: 3px;
    background-color: #ee3643;
}

.btn-price::after
{
    position: absolute;
    top: 0;
    right: -36px;

    content: '';

    border: 19px solid transparent;
    border-left-color: #ee3643;
}

/*====================brands===================*/
.brands
{
    margin-bottom: 65px;
}
.item-brand
{
    position: relative;

    display: block;
    float: left;

    box-sizing: border-box;
    width: 220px;
    height: 145px;
    margin-right: 20px;
    margin-bottom: 20px;

    border: 1px solid #e5e5e5;
}
.item-brand-click::before
{
    position: absolute;
    z-index: 1;

    width: 218px;
    height: 143px;

    content: '';
}
.item-brand:hover
{
    box-shadow: 0 10px 55px -10px #293449;
}
.item-brand-click:active::before
{
    opacity: .7;
    background-color: #fff;
}
.item-brand:nth-child(4n)
{
    margin-right: 0;
}
/*====================services====================*/
.services
{
    padding-top: 65px;

    background-color: #f2f6f8;
}
.services .wrapper
{
    min-height: 520px;
}
.services-title
{
    font-family: 'Cuprum', Tahoma, sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 24px;

    margin: 0;
    margin-bottom: 35px;
    padding: 0;

    text-transform: uppercase;
}
.services-info
{
    font-family: 'Cuprum', Tahoma, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 24px;

    max-width: 380px;
    margin-bottom: 67px;
}
.services-left-col
{
    float: left;

    width: 240px;
    margin-right: 81px;
}
.services-list
{
    position: relative;

    margin: 0;
    padding: 0;

    list-style: none;
}
.services-list::before
{
    position: absolute;
    top: -47px;
    right: 0;

    width: 10px;
    min-height: 272px;

    content: '';

    background: url('../img/shadow.png') 0 0 no-repeat;
}
.services-list a
{
    font-size: 21px;
    font-weight: bold;
    line-height: 30px;

    display: block;

    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 23px;

    color: #fff;
    background-color: #32425c;
}
.services-list span
{
    font-size: 21px;
    font-weight: bold;
    line-height: 30px;

    display: block;

    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 23px;

    color: #32425c;
    background-color: #fff;
}
.services-list .services-active
{
    display: block;

    color: #32425c;
    background-color: #fff;
}
.services-list a:hover
{
    color: #fff;
    background-color: #293449;
}
.services-list a:active
{
    color: #32425c;
    background-color: #fff;
}

.services-container
{
    float: left;

    width: 609px;
    min-height: 268px;
    padding-bottom: 20px;
}

.services-delivery
{
    background: url('../img/delivery.png') 141px 0 no-repeat;
}
.services-guarantee
{
    background: url('../img/guarantee.png') 221px 0 no-repeat;
}
.services-credit
{
    background: url('../img/credit.png') 141px 0 no-repeat;
}
.btn-credit
{
    width: 195px;
}
.services-col-title
{
    font-family: 'Cuprum', Tahoma, sans-serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 24px;

    margin-top: 5px;
    margin-bottom: 28px;
    padding: 0;

    text-transform: uppercase;

    color: #32425c;
}
.services-col-info
{
    font-size: 13px;
    line-height: 24px;

    width: 320px;
    margin: 0;
    padding: 0;
    padding-right: 53px;
}
/*=================company=======================*/
.company
{
    padding-top: 80px;
    padding-bottom: 85px;
}
.company-promo
{
    float: left;

    width: 520px;
}
.company-about
{
    float: right;

    width: 300px;
}
.company h2
{
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;

    margin: 0;
    margin-bottom: 28px;
    padding: 0;

    text-transform: uppercase;
}
.company p
{
    font-size: 13px;
    line-height: 24px;

    margin: 0;
    margin-bottom: 26px;
    padding: 0;
}
.company .company-info
{
    margin-bottom: 26px;
}
.company-delivery
{
    box-sizing: border-box;
    margin-bottom: 35px;
}
.company-delivery p
{
    margin-bottom: 18px;
}
.company-delivery ul
{
    font-size: 18px;
    line-height: 20px;

    margin: 0;
    padding: 0;

    list-style: none;
}
.company-delivery li
{
    position: relative;

    margin-bottom: 20px;
    margin-left: 35px;
}
.company-delivery li::before
{
    position: absolute;
    top: 50%;
    left: -35px;

    display: block;

    width: 24px;

    content: '';

    border-top: 2px solid #fb565a;
}

.btn-company-about
{
    width: 214px;
}
.btn-feedback
{
    width: 300px;

    border: none;
}
.company-map
{
    display: block;

    width: 300px;
    height: 158px;
    margin-bottom: 40px;
}
/*===============footer==============*/
.footer-main
{
    font-size: 0;
}
.footer-top
{
    box-sizing: border-box;
    height: 193px;

    background-color: #32425c;
}
.footer-top-address
{
    padding-left: 3px;
}
.footer-left-column
{
    float: left;
}
.footer-right-column
{
    float: right;
}
.footer-logo
{
    font-size: 30px;
    line-height: 30px;

    display: inline-block;

    box-sizing: border-box;
    width: 220px;
    height: 68px;
    margin-bottom: 26px;
    padding-top: 20px;

    text-align: center;
    vertical-align: top;
    text-transform: uppercase;

    color: #fff;
    border-top: 1px solid #e03643;
    border-bottom: 5px solid #b52933;
    background-color: #ee3643;
}
.footer-top ul
{
    margin: 0;
    padding: 0;
}
.footer-top p
{
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;

    margin: 0;
    padding: 0;

    color: #fff;
}
/*====================menu===================*/
.footer-top-menu
{
    display: block;

    box-sizing: border-box;
    width: 570px;
    margin-bottom: 40px;

    text-align: right;
}
.footer-top-menu li
{
    display: inline-block;

    margin-right: 56px;
    padding-top: 40px;

    vertical-align: top;
}
.footer-top-menu li:last-child
{
    margin-right: 0;
}
.footer-top-menu a
{
    font-size: 18px;
    line-height: 18px;

    color: #fff;
}
.footer-top-menu a:hover
{
    text-decoration: underline;
}
.footer-top-menu a:active
{
    text-decoration: none;

    opacity: .5;
}
/*====================offer===================*/
.footer-top-offer
{
    display: block;

    box-sizing: border-box;
    width: 570px;

    text-align: right;
}
.footer-top-offer li
{
    display: inline-block;

    margin: 0;
    margin-right: 56px;
    padding: 0;

    vertical-align: top;
}
.footer-top-offer li:last-child
{
    margin-right: 0;
}
.footer-top-offer a
{
    font-size: 18px;
    line-height: 18px;

    color: #ffd180;
}
.footer-top-offer a:hover
{
    text-decoration: underline;
}
.footer-top-offer a:active
{
    text-decoration: none;

    opacity: .5;
}
/*======================footer-bottom==================*/

.footer-bottom
{
    font-size: 0;

    background-color: #293449;
}
.footer-block
{
    font-size: 16px;
    line-height: 18px;

    display: inline-block;

    box-sizing: border-box;
    height: 105px;
    padding-top: 38px;

    vertical-align: top;

    color: #fff;
}
.footer-block p
{
    margin: 0;
    padding: 0;
}
.footer-block a
{
    color: #ffd180;
}
.footer-block a:hover
{
    text-decoration: underline;
}
.footer-block a:active
{
    text-decoration: none;

    color: #ee3643;
}
.footer-copyright
{
    width: 250px;
    margin-right: 140px;
}
.footer-social
{
    width: 170px;
    margin-right: 80px;
}
.footer-feedback
{
    width: 160px;
}
.footer-design
{
    width: 140px;
    padding-left: 28px;
}
/*.footer-design a:hover {
	text-decoration: none;
}*/
.footer-social-ico
{
    display: inline-block;

    width: 42px;
    height: 42px;

    transition: 300ms;
    vertical-align: top;
}
.footer-ico-vk
{
    background: url('../img/sprite-main.png') no-repeat;
    background-position: -2060px -5px;
}
.footer-ico-vk:hover
{
    background-position: -2060px -77px;
}
.footer-ico-vk:active
{
    background-position: -2060px -77px;
}
.footer-ico-facebook
{
    background: url('../img/sprite-main.png') -1854px -5px no-repeat;
}
.footer-ico-facebook:hover
{
    background-position: -1854px -77px;
}
.footer-ico-facebook:active
{
    background-position: -1854px -77px;
}
.footer-ico-instagram
{
    background: url('../img/sprite-main.png') -1906px -5px no-repeat;
}
.footer-ico-instagram:hover
{
    background-position: -1906px -77px;
}
.footer-ico-instagram:active
{
    background-position: -1906px -77px;
}

/*===============breadcrumbs====================*/
.main-header.catalog-main-header
{
    margin-bottom: 22px;
}
.breadcrumbs
{
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 0;
    font-weight: normal;
    line-height: 18px;

    margin-bottom: 15px;

    text-transform: uppercase;

    color: #000;
    background-color: #fff;
}
.breadcrumbs ul
{
    position: relative;

    margin: 0;
    padding: 0;

    list-style: none;
}

.breadcrumbs a
{
    font-size: 13px;
}
.breadcrumbs li
{
    font-size: 13px;

    position: relative;

    display: inline-block;

    margin-right: 17px;
    padding-left: 25px;

    vertical-align: top;

    color: #000;
}
.breadcrumbs li:before
{
    position: absolute;
    top: 2px;
    left: 0;

    display: block;

    width: 8px;
    height: 12px;

    content: '';

    background: url('../img/sprite-main.png') no-repeat -5px -5px;
}
.breadcrumbs li.breadcrumbs-home::before
{
    display: none;
}
.breadcrumbs .breadcrumbs-home
{
    margin-right: 13px;
    padding-left: 0;
}
.breadcrumbs .breadcrumbs-home a
{
    display: inline-block;

    width: 17px;
    height: 17px;
    margin-right: 0;

    vertical-align: top;

    background: url('../img/sprite-main.png') -367px -4px no-repeat;
}
.breadcrumbs span
{
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-weight: normal;
    line-height: 18px;

    text-transform: uppercase;

    color: #000;
}
.catalog-title
{
    margin-bottom: 21px;
    padding-top: 31px;
    padding-bottom: 30px;
    padding-left: 29px;

    color: #32425c;
    background-color: #f2f6f8;
}
.catalog-title h1
{
    font-size: 30px;
    line-height: 30px;

    margin: 0;
    padding: 0;

    text-transform: uppercase;
}

/*======aside======*/
.catalog-filter
{
    float: left;

    width: 220px;
}
.filter-price-name
{
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 13px;
    line-height: 18px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;

    text-transform: uppercase;

    border-radius: 2px;
    background-color: #f7f3ec;
}
.filter-price-name p
{
    margin: 0;
}
.filter-price-title
{
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;

    margin-bottom: 13px;

    text-transform: uppercase;
}
.filter-price-box
{
    position: relative;

    height: 80px;
    margin-bottom: 9px;

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f7f3ec;
}
.filter-price-toggle
{
    position: absolute;
    top: 50%;

    display: inline-block;

    width: 20px;
    height: 23px;
    margin-top: -11.5px;

    vertical-align: top;

    background: url('../img/sprite-main.png') -180px -5px no-repeat;
}
.toggle-min
{
    left: 20px;
}
.toggle-max
{
    right: 40px;
}
.filter-price-range
{
    padding-bottom: 25px;

    border-bottom: 1px solid #e5e5e5;
}
.filter-price-scale-in
{
    position: absolute;
    top: 50%;
    left: 40px;

    width: 120px;
    margin-top: -1.5px;

    border: 1px solid #00ca74;
}
.filter-price-scale-out
{
    position: absolute;
    top: 50%;
    right: 20px;

    width: 20px;
    margin-top: -1.5px;

    border: 1px solid #d7dcde;
}
.range
{
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 17px;
    line-height: 18px;

    width: 95px;
    padding: 10px 0;

    text-align: center;

    border: none;
    background-color: #f7f3ec;
}
.filter-price-range span
{
    padding: 0 8px;
}
.filter-brands
{
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 15px;
    line-height: 20px;

    text-transform: uppercase;

    border-bottom: 1px solid #e5e5e5;
}
.filter-brands label
{
    margin-bottom: 20px;
}

.filter-brands [type='checkbox']
{
    display: none;
}
.filter-brands [type='checkbox'] + label
{
    line-height: 20px;

    position: relative;

    display: block;

    padding-left: 34px;

    cursor: pointer;
}
.filter-brands [type='checkbox'] + label::before
{
    position: absolute;
    top: -2px;
    left: 0;

    display: block;

    width: 27px;
    height: 27px;

    content: '';

    background: url('../img/sprite-input.png') no-repeat;
    background-position: -40px -5px;
}
.filter-brands [type='checkbox'] + label:hover::before
{
    background-position: -40px -48px;
}
.filter-brands [type='checkbox']:checked + label::before
{
    background-position: -73px -5px;
}
.filter-brands [type='checkbox']:checked + label:hover::before
{
    background-position: -73px -48px;
}
.filter-brands [type='checkbox']:disabled + label::before
{
    background-position: -40px -92px;
}
.filter-brands [type='checkbox']:disabled:checked + label::before
{
    background-position: -73px -92px;
}

.filter-battery [type='radio']
{
    display: none;
}
.filter-battery [type='radio'] + label
{
    line-height: 20px;

    position: relative;

    display: block;

    padding-left: 34px;

    cursor: pointer;
}
.filter-battery [type='radio'] + label::before
{
    position: absolute;
    top: -3px;
    left: 0;

    display: block;

    width: 27px;
    height: 27px;

    content: '';

    background: url('../img/sprite-input.png') no-repeat;
    background-position: -110px -5px;
}
.filter-battery [type='radio'] + label:hover::before
{
    background-position: -110px -49px;
}
.filter-battery [type='radio']:checked + label::before
{
    background-position: -5px -5px;
}
.filter-battery [type='radio']:checked + label:hover::before
{
    background-position: -5px -49px;
}
.filter-battery [type='radio']:disabled + label::before
{
    background-position: -110px -93px;
}
.filter-battery [type='radio']:disabled:checked + label::before
{
    background-position: -5px -93px;
}
.battery-choiser
{
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 14px;
    line-height: 20px;

    margin-bottom: 45px;

    text-transform: uppercase;
}
.btn-filter
{
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 13px;
    line-height: 18px;

    width: 135px;
    padding: 10px 0;

    cursor: pointer;
    text-transform: uppercase;

    border: 1px solid #e5e5e5;
    background-color: #fff;
}
/*======================catalog==================*/
.catalog-container
{
    position: relative;
}
.catalog-main
{
    float: right;

    margin-bottom: 60px;
}
.catalog-sort
{
    font-size: 0;

    position: relative;

    width: 700px;
    margin-bottom: 20px;

    background-color: #f7f3ec;
}
.catalog-pages
{
    clear: both;

    padding-top: 30px;
}
.catalog-gallery
{
    width: 700px;
    margin-bottom: 30px;
}
.catalog-sort a
{
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;

    display: inline-block;

    margin-top: 12px;
    margin-bottom: 12px;

    vertical-align: top;
    text-transform: uppercase;

    color: #c4c1bb;
    border-bottom: 1px dotted #ee3643;
}
.catalog-sort-type a:hover,
.catalog-sort-function a:hover
{
    color: #000;
    border-bottom: 1px solid #ee3643;
}
.catalog-sort a:active
{
    color: #ee3643;
    border: none;
}
.catalog-sort .sort-active
{
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;

    margin-top: 12px;
    margin-bottom: 12px;

    text-transform: uppercase;

    color: #ee3643;
    border: none;
}
.catalog-sort-type a:active
{
    border: none;
}
.catalog-sort h3
{
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;

    display: inline-block;

    box-sizing: border-box;
    width: 230px;
    margin: 0;
    padding: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 19px;

    vertical-align: top;
    text-transform: uppercase;
}
.catalog-sort-price
{
    display: inline-block;

    min-width: 70px;
    margin-right: 70px;

    text-align: center;
    vertical-align: top;
}
.catalog-sort-type
{
    display: inline-block;

    min-width: 55px;
    margin-right: 63px;

    text-align: center;
    vertical-align: top;
}
.catalog-sort-function
{
    display: inline-block;

    text-align: center;
    vertical-align: top;
}
.catalog-sort a.arrow-up
{
    position: absolute;
    top: -5px;
    right: 49px;

    border-top: 10px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid #ee3643;
    border-left: 6px solid transparent;
}
.catalog-sort a:hover.arrow-up
{
    border-bottom-color: #c6c2bd;
}
.catalog-sort a:active.arrow-up
{
    border-bottom-color: #000;
}
.catalog-sort a.arrow-down
{
    position: absolute;
    top: 5px;
    right: 17px;

    border-top: 10px solid #c6c2bd;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
}
.catalog-sort a:hover.arrow-down
{
    border-top-color: #c6c2bd;
}
.catalog-sort a:active.arrow-down
{
    border-top-color: #000;
}
/*======================pager======================*/
.catalog-pager
{
    font-size: 0;
}
.catalog-pager .btn-pages
{
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 13px;
    font-weight: normal;

    display: inline-block;

    box-sizing: border-box;
    width: 38px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 9px;

    vertical-align: top;

    color: #000;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    background-color: #fff;
}
.catalog-pager .btn-pages:hover
{
    border-color: #bdc6ca;
}
.catalog-pager .btn-pages:active
{
    border-color: #ee3643;
}
.catalog-pager .btn-next-page
{
    width: 136px;
}
.catalog-pager .page-active
{
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 13px;
    font-weight: normal;

    display: inline-block;

    box-sizing: border-box;
    width: 38px;
    height: 38px;
    margin-right: 10px;
    padding-top: 11px;
    padding-bottom: 13px;

    text-align: center;
    vertical-align: top;
    text-transform: uppercase;

    color: #fff;
    border-radius: 2px;
    background-color: #ee3643;
}
/*===========================about-item=========================*/

.about-item
{
    padding: 67px 0;

    background-color: #f2f6f8;
}

.about-item-title
{
    font-size: 30px;
    font-weight: normal;
    line-height: 24px;

    margin-bottom: 30px;

    text-transform: uppercase;
}
.about-item p
{
    font-size: 13px;
    line-height: 24px;
}
.cart
{
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;

    display: none;

    width: 620px;
    margin-top: -130px;
    margin-left: -310px;

    border-top: 7px solid #ee3643;
    background-color: #fff;
    box-shadow: 0 10px 40px -1px #000;
}
.cart-close
{
    font-size: 0;

    position: absolute;
    top: 7px;
    right: 7px;

    width: 22px;
    height: 22px;

    cursor: pointer;

    border: 0;
    outline: 0;
    background-color: transparent;
}
.cart-close::before
{
    position: absolute;
    top: 19px;
    right: 8px;

    width: 25px;

    content: '';
    cursor: pointer;
    transform: rotate(45deg);

    border-top: 5px solid #ee3643;
}
.cart-close::after
{
    position: absolute;
    top: 19px;
    right: 8px;

    width: 25px;

    content: '';
    transform: rotate(-45deg);

    border-top: 5px solid #ee3643;
}
.inner-page .cart
{
    position: static;

    display: block;

    margin-top: 100px;
    margin-right: auto;
    margin-bottom: 100px;
    margin-left: auto;
}
.cart-top
{
    font-size: 30px;
    line-height: 18px;

    padding-top: 66px;
    padding-bottom: 72px;
    padding-left: 60px;

    text-align: center;

    background: url('../img/cart-check.png') 80px 45px no-repeat;
}
.cart-top p
{
    margin: 0;
}
.cart-buttons
{
    font-size: 0;

    padding-top: 37px;
    padding-bottom: 37px;

    text-align: center;

    background-color: #f1f1f1;
}
.btn-purchase
{
    margin-right: 20px;
    padding-right: 62px;
    padding-left: 59px;
}
.btn-continue
{
    padding-right: 48px;
    padding-left: 42px;

    color: #000;
    background-color: #fff;
}
/*======================write us==================*/
.modal-write-us
{
    position: fixed;
    z-index: 1002;
    bottom: 50%;
    left: 50%;

    display: none;

    box-sizing: border-box;
    width: 620px;
    height: 420px;
    margin-bottom: -210px;
    margin-left: -310px;

    border-top: 7px solid #ee3643;
    background-color: #fff;
    box-shadow: 0 10px 40px -1px #000;
}

.inner-page .modal-write-us
{
    position: static;
    top: auto;
    left: auto;

    display: block;

    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
}
.modal-write-us input[type=text]
{
    max-width: 188px;
    padding: 0 14px;
}
.modal-write-us textarea
{
    box-sizing: border-box;
    padding: 9px 14px;
}
.modal-write-us ::-webkit-input-placeholder
{
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 13px;
    line-height: 18px;
}
.modal-write-us :-moz-placeholder
{
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 13px;
    line-height: 18px;
}
.modal-write-us :-ms-input-placeholder
{
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 13px;
    line-height: 18px;
}
.modal-write-us input[type=text]
{
    height: 33px;
}
.block-info
{
    box-sizing: border-box;
    height: 312px;
    padding: 0 80px;
    padding-top: 45px;
}
.block-info label
{
    display: block;

    margin-bottom: 8px;
}
.block-info input
{
    width: 216px;

    border: 2px solid #d7dcde;
    border-radius: 2px;
    outline: none;
}
.block-info textarea
{
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 114px;
    max-height: 160px;

    border: 2px solid #d7dcde;
    border-radius: 2px;
}
.modal-name
{
    float: left;

    margin-bottom: 20px;
}
.modal-mail
{
    float: right;
}
.modal-letter
{
    clear: both;
}
.block-submit
{
    box-sizing: border-box;
    padding-top: 37px;
    padding-bottom: 38px;

    text-align: center;

    background-color: #f1f1f1;
}
.block-submit button
{
    font-size: 14px;
    line-height: 18px;

    display: block;

    width: 460px;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 12px;

    cursor: pointer;
    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #ee3643;
}
.feedback-close
{
    font-size: 0;

    position: absolute;
    top: 7px;
    right: 7px;

    width: 22px;
    height: 22px;

    cursor: pointer;

    border: 0;
    outline: 0;
    background-color: transparent;
}
.feedback-close::before
{
    position: absolute;
    top: 10px;
    right: -1px;

    width: 25px;

    content: '';
    transform: rotate(45deg);

    border-top: 5px solid #ee3643;
}
.feedback-close::after
{
    position: absolute;
    top: 10px;
    right: -1px;

    width: 25px;

    content: '';
    transform: rotate(-45deg);

    border-top: 5px solid #ee3643;
}
.inner-page .feedback-close::before,
.inner-page .feedback-close::after
{
    display: none;
}
/*======================map====================*/
.modal-map
{
    position: fixed;
    z-index: 1002;
    bottom: 225px;
    left: 50%;

    display: none;

    width: 940px;
    height: 450px;
    margin-left: -470px;

    background: #fff url('../img/sprite-main.png') -702px -5px no-repeat;
    box-shadow: 0 0 40px 0 #000;
}
.inner-page .modal-map
{
    position: static;
    bottom: 0;
    left: 0;

    display: block;

    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
}
.map-close
{
    font-size: 0;

    position: absolute;
    top: 9px;
    right: 9px;

    width: 30px;
    height: 30px;

    cursor: pointer;

    border: 0;
    outline: 0;
    background-color: transparent;
}
.map-close::before
{
    position: absolute;
    top: 10px;
    right: -1px;

    width: 25px;

    content: '';
    transform: rotate(45deg);

    border-top: 5px solid #ee3643;
}
.map-close::after
{
    position: absolute;
    top: 10px;
    right: -1px;

    width: 25px;

    content: '';
    transform: rotate(-45deg);

    border-top: 5px solid #ee3643;
}
.modal-overlay
{
    position: absolute;
    z-index: 1001;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .5);
}
.modal-content-show
{
    display: block;

    animation: bounce .6s;
}
.modal-error
{
    animation: shake .6s;
}
