@font-face {
	font-family: Cuprum Regular;
	src: url("../fonts/Cuprum/Cuprum-Regular.ttf");
}
@font-face {
	font-family: Cuprum Italic;
	src: url("../fonts/Cuprum/Cuprum-Italic.ttf");
}
@font-face {
	font-family: Cuprum Bold;
	src: url("../fonts/Cuprum/Cuprum-Bold.ttf");
}
@font-face {
	font-family: PT Sans Regular;
	src: url("../fonts/PTSans/PTS55F.ttf");
}
@font-face {
	font-family: PT Sans Narrow;
	src: url("../fonts/PTSans/PTC55F.ttf");
}
@font-face {
	font-family: PT Sans Narrow;
	src: url("../fonts/PTSans/PTM57F.ttf");
}
body {
	font-family: "Cuprum Regular", sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 1.3;
	color: #000;
}
/*div, aside, section {
	outline: 1px solid gray;
}*/
h1 {
font-size: 30px;
line-height: 1;
}
h2, h3 {
	margin: 0;
	padding: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
p {
	margin: 0;
	padding: 0;
}
a {
	color: #000;
	font-size: 17px;
	text-decoration: none;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.container {
	width: 940px;
	max-width: 1200px;
	margin: 0 auto;
}
.btn {
	color: #fff;
	height: 30px;
	padding-top: 10px;
	display: block;
	text-align: center;
	background-color: #ee3643;
	border-radius: 3px;
}
.btn a {
	color: #fff;
}
.btn-cart {
	background: none;
}
.btn-bookmarks {
	background: none;
}
.btn-purchase {
	background-color: #63a63e;
	margin-right: 10px;
	border-radius: 0;
}
.btn-login, .btn-reg {
	padding: 12px 25px;
	padding-bottom: 3px;
	background-color: #fff;
	display: inline-block;
	margin-right: 10px;
}
.btn-slider {
	width: 195px;
	position: absolute;
	bottom: 21px;
	left: 25px;
}
.btn-price {
	width: 122px;
	margin-top: 0;
	margin-left: 41px;
	position: relative;
}
.btn-price::after {
	position: absolute;
	top: 0;
	right: -39px;
	content:"";
	border: 20px solid transparent;
	border-left: 20px solid #ee3643;
}
/*======================header=====================*/
.main-header {
	min-width: 960px;
	margin-bottom: 59px;
	background-color: #f1f5f7;
	padding-bottom: 50px;
	margin-bottom: 10px;
}
.header-top {
	background-color: #293449;
	height: 40px;
	padding: 0;
}
.header-top a {
	color: #fff;
}
.header-logo {
	width: 220px;
	height: 30px;
}
.header-logo a {
	margin: 0 10px;
	height: 30px;
	text-align: center;;
	font-family: "Cuprum Regular", Tahoma, sans-serif;
	display: block;
	padding-top: 10px;
	font-size: 24px;
	line-height: 1;
	background-color: #ee3643;
	text-transform: uppercase;
	border-bottom: 5px solid #b52933;
}
.header-search {
	width: 270px;
	height: 30px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.btn-bookmarks {
	width: 150px;
}
.btn-cart {
	width: 130px;
}
.btn-purchase {
	width: 150px;
}
.header-logo, .header-search, .btn-bookmarks, .btn-cart,
.header-block,
.offer-item, .slider {
	float: left;
}
.header-middle {
	padding: 26px 0;
}
.header-block {
	width: 300px;
	height: 100px;
	margin-right: 20px;
	color: #32425c;
}
.header-title {
	font-family: "Cuprum Italic", Tahoma, sans-serif;
	font-size: 16px;
	color: #ee3643;
	margin-left: 60px;
}
.header-phone {
	border: 3px solid #fff;
	font-size: 21px;
	line-height: 0.9;
	text-align: center;
	color: #e9292a;
	padding: 5px 0;
	width: 261px;
	margin-bottom: 8px;
}
.header-address {
	width: 261px;
	text-align: center;
	font-size: 14px;
	color: #32425c;
}
.header-user {
	font-size: 0;
	text-align: right;
}
.header-user a {
	color: #000;
}
.header-block:nth-child(3) {
	margin-right: 0;
}
.header-bottom ul {
	padding-left: 0;
}
.header-bottom {
	text-align: justify;
	font-size: 0;
	background-color: #32425c;
}
.header-bottom li {
	float: left;
}
.header-bottom a {
	padding: 17px 30px;
	padding-bottom: 15px;
	display: block;
	color: #fff;
}
.header-menu {
	padding: 0 20px;
	border-bottom: 5px solid #293449;
}
.menu-item-top {
	text-align: center;
}
.breadcrumbs li {
	float: left;
	margin-right: 20px;
}
/*===============offer====================*/
.offer {
	margin-bottom: 53px;
}
.offer a {
	font-family: "Cuprum Regular";
	font-size: 14px;
	line-height: 1.3;
	color: #fff;
	text-transform: uppercase;
}
.offer h3 {
	font-family: "Cuprum Bold", Tahoma, sans-serif;
	font-size: 24px;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 15px;
}
.offer-item {
	overflow: hidden;
	position: relative;
	line-height: 1.2;
	width: 300px;
	margin-bottom: 20px;
	margin-right: 20px;
	height: 123px;
}
.offer-new::after {
	font-family: "PT Sans Narrow", Tahoma, sans-serif;
	font-size: 16px;
	padding: 5px 40px;
	position: absolute;
	top: 5px;
	right: -33px;
	content: 'new';
	color: #fff;
	background-color: #ee3643;
	transform: rotate(45deg);
}
.offer-item-type {
	margin-left: 25px;
}
.offer-item-info {
	margin-left: 25px;
	width: 135px;
	border-radius: 3px;
	text-align: center;
	padding: 12px 0;

}
.info-material {
	background-color: #dda028;
}
.info-tool {
	background-color: #429dc7;
}
.info-machinery {
	background-color: #b76dbc;
}
.info-discount {
	background-color: #77bc6d;
}
.info-delivery {
	background-color: #dda028;
}
.material {
	background: #f6b22d url("../img/ico-material.png") 212px center no-repeat;
}
.tool {
	background: #4aafde url("../img/ico-tool.png") 195px center no-repeat;
}
.machinery {
	background: #cc79d1 url("../img/ico-machinery.png") 189px center no-repeat;
}
.discount {
	background: #85d179 url("../img/ico-discount.png") 194px center no-repeat;
}
.delivery {
	background: #f6b22d url("../img/ico-delivery.png") 188px center no-repeat;
}
.offer-item:nth-child(3),
.offer-item:last-child {
	margin-right: 0;
}

.slide {
	position: relative;
	margin: 0;
}
.slide h2 {
	color: #fff;
	font-family: "Cuprum Bold", Tahoma, sans-serif;
	font-size: 36px;
	line-height: 1.2;
	text-transform: uppercase;
	margin-left: 26px;
	margin-top: 27px;
}
.slide p {
	color: #fff;
	font-family: "PT Sans Regular";
	font-size: 18px;
	line-height: 1.3;
	margin-left: 27px;
}
.slider {
	margin-right: 20px;
}
figcaption {
	position: absolute;
	left: 0;
	top: 0;
}
.discount {
	margin-right: 0;
}
/*=============popular================*/
.popular {
margin-bottom: 20px;
background-color: #f7f3ec;
padding: 20px 0;
}
.popular h2 {
	margin-top: 5px;
	float: left;
	color: #32425c;
	text-transform: uppercase;
	margin-left: 30px;
}
.btn-popular {
	float: right;
	margin-right: 24px;
	width: 253px;
}
/*=================popular-catalog==================*/

.popular-catalog {
	margin-bottom: 20px;
}
.item {
	text-align: center;
	border: 1px solid #e5e5e5;
	width: 218px;
	height: 316px;
	margin-right: 20px;
	margin-bottom: 21px;
	float: left;
}
.item-name {
	font-family: "PT Sans Bold", Tahoma, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	margin-bottom: 17px;
}
.old-price {
	font-family: "PT Sans Bold", Tahoma, sans-serif;
	font-size: 17px;
	text-decoration: line-through;
	color: #999999;
	margin-bottom: 12px;
}
.item:nth-child(4) {
	float: right;
	margin-right: 0;
}
.invisible {
	opacity: 0;
}
/*====================brands===================*/
.brands {
	padding-bottom: 21px;
}
.item-brands {
	height: 142px;
}
.item-brands:nth-child(4n) {
	margin-right: 0;
}
/*====================services====================*/
.services {
	background-color: #f2f6f8;
	background-image: url("../img/car.png");
	background-repeat: no-repeat;
	background-position: 940px 190px;
	padding-top: 67px;
	padding-bottom: 60px;
}
.services-left-col {
	width: 240px;
	float: left;
}
.services-right-col {
	width: 280px;
	float: left;
}
.services-list a {
	background-color: #32425c;
}
/*=================company=======================*/
.company {
	padding-top: 67px;
	padding-bottom: 60px;
}
.company-promo {
	width: 520px;
	float: left;
}
.company-about {
	width: 300px;
	float: right;
}
/*===============footer==============*/
.main-footer p, .main-footer ul{
	margin: 0;
}
.main-footer a {
	color: #fff;
}
.footer-top {
	background-color: #32425c;
	padding: 30px 0;
	padding-bottom: 90px;
}
.footer-bottom {
	background-color: #293449;
	padding: 30px 0;
}
.footer-item {
	margin-right: 0;
	padding-right: 25px;
}
.footer-top-menu {
	float: right;
}
.footer-block {
	width: 235px;
	float: left;
}
.footer-top-offer {
	float: right;
}
/*======================catalog==================*/
.catalog-main {
	margin-bottom: 50px;
	float: right;
}
.catalog-sort {
	background-color: #f7f3ec;
	width: 700px;
	margin-bottom: 20px;
}
.catalog-sort h3, .catalog-sort a {
	float: left;
}
.catalog-sort a {
	margin-top: 23px;
}
.catalog-pages {
	clear: both;
	padding-top: 30px;
}
.catalog-gallery {
	width: 700px;
}
/*=====================about-item===================*/
.about-item {
	background-color: #f2f6f8;
	padding: 60px 0;
}
/*======aside======*/
.catalog-filter {
	width: 220px;
	float: left;
}
